header a, header h1, header h2, header h3
{
  color: #FFF; /* met la couleur de la police en blanc par défaut */
}
*{
  text-decoration: none;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v11/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v11/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
header{
 display: flex;
 background-color: #2d2d2d;
 border-bottom: 6px solid #fecc00;
 /*position: fixed;*/
 width:100%;
}
header>h1{

  text-align: center;
  font-size: 2em;
  font-family: 'Oswald', cursive;
  padding-left: 40%;
  /*margin-top: 0.2em;
  margin-bottom: 0em;*/

}
#principale{
  margin: 13% 18% 3% 18%;
      background-color: white;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.1em;
      padding-bottom: 0.1em;
      box-shadow: 8px 8px 15px grey;
  }
  h2::before{
  position: absolute;
  left: 47%;
  margin-bottom:;
  content: "";
  display: block;
  width: 5rem;
  height: .20rem;
  background: #fecc00;
box-sizing: border-box;



  }
h2{
  text-align: center;
  font-size: 1.75em;
}
body {
    background-color: #f2f2f2;
    margin: 0;
}
.exempleF{
  display: flex;
}
.exempleF2{
  margin-left: 15%;
}

.exempleF2 a:hoover{
  color:#fecc00;
border-bottom: thin solid #C10127;
}
